:root {
  --panel-bg-color: white;
  --accordion-bg-color: #eee;
  --accordion-text-color: #444;
  --accordion-hover-bg-color: #ccc;
  --accordion-icon-color: #777;
}

@media (prefers-color-scheme: dark) {
  :root {
    --panel-bg-color: #121212;
    --accordion-bg-color: #333;
    --accordion-text-color: #fff;
    --accordion-hover-bg-color: #555;
    --accordion-icon-color: #ddd;
  }
}

.wrapper {
  margin: auto;
  max-width: 1280px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: var(--accordion-bg-color);
  color: var(--accordion-text-color);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  font-weight: bold;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: var(--accordion-hover-bg-color);
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: var(--accordion-icon-color);
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: var(--panel-bg-color);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.footer {
  width: 100%;
  text-align: center;
}